body {
	padding: 0;
	margin: 0;
}

.page {
	position: relative;
	width: 100%;
}

.search-box {
	width: 80%;
	height: 50px;
	margin: auto;
	margin-top: 40px;
	justify-content: space-between;
}

.search-box input {
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #b3d8ff;
}

.search-box input:focus {
	outline: 1px solid #79bbff;
}

.input-group-addon {
	background-color: #d9ecff;
	border: 1px solid #b3d8ff;
}

.search-btn {
	cursor: pointer;
}

.info-title {
	text-align: left;
	font-weight: bold;
	margin-right: 10px;
}
.info-text{
	text-align: right;
	margin-right: 10px;
	min-width: 50%;
}
#list-group>li{
	width: 50%;
	float: left;
	display: flex;
	border-left: none;
	border-right: none;
}