{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}View "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}

<html>
  <head>
    <title>{{ post['title'] }}</title>
  </head>
  <body>
    <h1>{{ post['title'] }}</h1>
    <p>{{ post['content'] }}</p>
  </form>
  <hr>
  <form action="{{ url_for('blog.index') }}">
    <input class="danger" type="submit" value="Return to home page">
  </form>
  </body>
</html>

{% endblock %}
