{% extends 'base.html' %}

{% block header %}<h1>Stock History Graph</h1>{% endblock %}

{% block content %}

<body>

	<label for="stock-select">Select a stock:</label>

	<select name="stock" id="stock-select">
		<option value="">--Please choose an option--</option>
		<option value="AAPL">Apple</option>
		<option value="GME">GameStop</option>
		<option value="TSLA">Tesla</option>
		<option value="SPY">S&P500</option>
	</select>

	<div id="myDiv" style="width: 800px; height: 400px;">
	</div>

	<script src='https://cdn.plot.ly/plotly-2.18.0.min.js'></script>
	<script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
		integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js"
		integrity="sha512-oVbWSv2O4y1UzvExJMHaHcaib4wsBMS5tEP3/YkMP6GmkwRJAa79Jwsv+Y/w7w2Vb/98/Xhvck10LyJweB8Jsw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<script src="../../static/index.js"></script>
</body>
{% endblock %}