{% extends 'base.html' %}
<link rel="stylesheet" href="/static/css/main.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

{% block content %}
<div class="container">
  <h1 style=text-align:center;>Add Stock</h1>
  <form style="text-align:center" method="post">
    <div class="form-group">
      <label for="symbol">Symbol:</label><br>
      <input type="text" class="form-control" id="symbol" name="symbol" required>
    </div>
    <br>
    <div class="form-group">
      <label for="tracking_price">Tracking Price:</label><br>
      <input type="number" step="0.01" class="form-control" id="tracking_price" name="tracking_price" required>
    </div>
    <br>
    <div class="form-group">
      <label for="num_shares">Number of Shares:</label><br>
      <input type="number" class="form-control" id="num_shares" name="num_shares" required>
    </div>
    <br>
    <button  type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
</script>
{% endblock %}
