{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/main.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="container">
    <br>
    <br>
    <h1 class="head1">Login</h1>
    <br>
    <form class="formstyle" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username.label }} {{ form.username(class="form-control") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.password.label }} {{ form.password(class="form-control") }}
        </div>
        <br>
        <!-- <button type="submit" class="btn btn-primary">Login</button>
        <p>Dont have an account?</p><a href="/templates/register.html">click here.</a> -->

        <button type="submit" class="btn btn-primary">Login</button>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Click here</a> to register.</p>
        <br>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
</script>
{% endblock %}