{% extends 'base.html' %} {% block content %}
<h1>Logout</h1>
<p>Are you sure you want to log out?</p>
<form method="post">
    <input type="submit" value="Logout" class="btn btn-primary">
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}