<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Plot</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div id="plotlyChart">{{ plot_html|safe }}</div>
</body>

</html>