{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="/static/css/main.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<div class="container">
    <br><br>

    <h1 class="head1">Registration</h1>
    <form class="formstyle" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }} {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }} {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }} {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
        </div>
        <p>Have an account? <a href="{{ url_for('login') }}">Click here</a> to Sign in.</p>
        <br>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

{% endblock content %}